body {
	font-family: 'Arial', sans-serif;
}

#root {
	max-width: 800px;
	margin: 0 auto;
}

select,
input {
	margin: 5px;
	padding: 8px;
}

button {
	background-color: #E6007A;
	color: #fff;
	padding: 10px;
	cursor: pointer;
	border: none;
}

button:hover {
	background-color: #552BBF;
}
